* {
  margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  background-color: lightcoral;
  height: auto;
  background-size:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  ul .logout_container{
  float:right;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

h1{
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  color :	#B22222;
  background-color: #F08080;
  padding: 7px 0px 7px 0px;
}

.boxed {
  border-bottom: 1px solid whitesmoke;
  padding: 15px;
 }

 .outline {
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  padding-left:285px ;
  height:500px;
}

 .inline1{
  border-radius: 50px 50px 50px 50px;
  background-color: burlywood;
   border: none;
   color:black;
   /* text-align: center; */
   font-size: 22px;
   padding: 20px;
   width: 900px;
   height : auto;
   transition: all 0.5s;
   margin-top: 5px;
   margin-left: 33px;
   
 }

.head {
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  padding-left:350px ;
}

.op1 {
  border-radius: 5px 5px 5px 5px;
  border-bottom: 1px solid rgb(154, 84, 175);
  padding: 10px;
  text-align: center;
  width: 820px;
  font-size: 25px;
  background-color: lightseagreen;
  margin :20px;
  color: black;
 }

 .del{
  border-radius: 10px 10px 10px 10px;
   background-color: #DC143C;
   cursor: pointer;
 }

 .left{
  font-size: smaller;
  font-style: italic;
  margin-left: auto;
  margin-top: 10px;
  font-weight: bold;
  text-align: right;
 }