<!-- Incomplete -->
<!DOCTYPE html>
<html>
    <head>
        <title>Form</title> 
        <link rel="stylesheet" type="text/css" href="form_css.css"> 
    </head>

<body>

<form>
    <center> <h1> Class Announcement Form </h1> </center>   
    <br>
    <form>  
        <div class="container">   
            <p>
                <label class="l1">Select the subject:  </label>
                <select>
                    <option selected="selected">Choose here</option>
                    <option >Artificial Intelligence (XAI5)</option>
                    <option >Theory of Computation (XTC5)</option>
                </select>
            </p>
            
            <p>
                <label class="l2">Announcement </label>
                <textarea maxlength="1000"></textarea>
            </p>
        
            <p>
                <button>Submit</button>
            </p>

        </div> 

    
<!-- 
    // slider code
    
    //html
    <input id="ex12c" type="text"/><br/>

    //    JavaScript

    // With JQuery
    $("#ex12a").slider({ id: "slider12a", min: 0, max: 10, value: 5 });
    $("#ex12b").slider({ id: "slider12b", min: 0, max: 10, range: true, value: [3, 7] });
    $("#ex12c").slider({ id: "slider12c", min: 0, max: 10, range: true, value: [3, 7] });

    // Without JQuery
    var sliderA = new Slider("#ex12a", { id: "slider12a", min: 0, max: 10, value: 5 });
    var sliderB = new Slider("#ex12b", { id: "slider12b", min: 0, max: 10, range: true, value: [3, 7] });
    var sliderC = new Slider("#ex12c", { id: "slider12c", min: 0, max: 10, range: true, value: [3, 7] });

    // css
    #slider12a .slider-track-high, #slider12c .slider-track-high {
        background: green;
    }
    
    #slider12b .slider-track-low, #slider12c .slider-track-low {
        background: red;
    }
    
    #slider12c .slider-selection {
        background: yellow;
    }
-->

        
</form>
        
</body>

</html>

