<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="static/css/login_css.css">    
</head>    
<body>
    <br><br>
    <!--background-color:whitesmoke; -->
    <div class="login">
        <form id="login">
            <div class="h1">{%block login %} {% endblock %}</div>
            <br> <br>
            <label>
                <b>Username </b>
            </label>
            <br> <br>
            <input type="text" name="Uname" id="Uname" placeholder="Enter Username">
            <br> <br>
            <label>
                <b>Password </b>
            </label>
            <br><br>
            <input type="Password" name="Pass" id="Pass" placeholder="Enter Password">
            <br><br>
            <br>
            <input type="button" name="log" id="log" value="Login">

            <p class="one">For {% block one %} {%endblock%} Log In <a href={% block onelink %}{% endblock %}>Click here</a>  </p>
            <p class="one">For {% block two %} {%endblock%} Log In <a href={% block twolink %}{% endblock %}>Click here</a>  </p>
        </form>

    </div>
</body>    
</html> 