<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="static/css/login_css.css">    
</head>    
<body> 
    <!--background-color:whitesmoke; -->
    <h1>2ndDecimal</h1>
    <div class="login">   
        <form id="login"  >   
    <h1>Student Log In</h1><br>    
            <label>
             <b>User Name </b>    
            </label>
            <br> <br> 

            <input type="text" name="Uname" id="Uname" placeholder="Username">    
            <br><br>   

            <input type="Password" name="Pass" id="Pass" placeholder="Password">    
            <br><br> 
           
            <input type="button" name="log" id="log" value="Log In">       
            <br><br>    
            
            <p>For Staff Log In <a href="#">Click here</a>  </p> 
        </form>  
  
    </div>    
</body>    
</html> 