<!DOCTYPE html>
<html>
    <head>
        <title>Course_page</title> 
    <link rel="stylesheet" type="text/css" href="course_css.css"> 
    </head>
<body>
  
    <nav>
        <ul >
            <li><a class="active" href="">Home</a></li>
            <li><a href="">Class Announcements</a></li>
            <li><a href="">Schedule</a></li>
            <li><a href="">Course Material</a></li>
            <div class="logout_container">
                <li><a href="">Welcome</a></li>
                <li><a href="">Log out</a></li>
            </div>
        </ul>
    </nav>
    
    <div class = "center">
        <h1>Graph Theory</h1>
    </div>

    <div class = "head">
        <div class="op1">Class Announcements</div>
        <div class="op2">Schedule</div>
        <div class="op3">Class Material</div>
    </div>

 <div class = "outline">  
    <div class="inline1" style = "display: inline-block;">
        <div class="boxed">This text is enclosed in a box.<br><button class="del" onclick="delete()">Delete</button> </div>
        <div class="boxed">This text is enclosed in a box.</div>
        <div class="boxed">This text iThis text is enclohis tlosed in a box.his text is enclosed in ais enclosed insed in a xt is enclosed in a box.his text is enclosed in a box.sed in a box.s enclosed in a box.</div>
    </div>

    <div class="inline2" style = "display: inline-block;">
        <div class="boxed">This text his text is enclosed in a box.his text is enclosed in a box.is enclosed in a box.<br><button class="del" onclick="delete()">Delete</button></div>
        <div class="boxed">This text is enclosed in a box.</div>
        <div class="boxed">This text is enclosed in a box.</div>
    </div>

    <div class="inline3" style = "display: inline-block;">
        <div class="boxed">This text is enclosed in a box. ahsbhsx abchjsgzhj<br><button class="del" onclick="delete()">Delete</button> </div>
        <div class="boxed">This text is enclosed in a box.</div>
        <div class="boxed">This text is enclohis text id in a box.his text is enclosed in a box.his text is enclosed in a box.sed in a box.</div>
        <div class="boxed">This te is enclosed in atext is enclosed in a bo clostext is enclosed in a box.sed in a box.</div>
    </div>
</div>



</body>
</html>