<!DOCTYPE html>
<html>
    <head>
        <title>staff Form</title> 
        <link rel="stylesheet" type="text/css" href="../static/css/staff_form_css.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
       
    </head>

<body class="form_body">
    <nav class="navbar">
        <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a class="active" href="/gannouncement">Announcements</a></li>
        <div class="logout_container">
            <li><a href="#about">Welcome, {{name}}</a></li>
            <li><a href="/logout2">Log out</a></li>
        </div>
        </ul>
    </nav>

<div>
    <center> <h1> Announcements </h1> </center>   
    <br>
    <form class="form1" action = "/gannouncement" method = "post">  
        <div class="container1">   
            <p>
                <label class="l1">Select the year:  </label>
                <select class="s1">
                    <option>1st year</option>
                    <option>2nd year</option>
                    <option>3rd year</option>
                    <option>4th year</option>
                </select>
            </p>
            
            <p>
                <label class="l3">Select the Branch: </label> <br>
                <select class="s2">
                    <option >COE</option>
                    <option >ECE</option>
                </select>
            </p>

            <p>
                <label class="l2">Announcement </label>
                <textarea required name = "text" class="form-control" required name="blog" id="summernote" placeholder="Write here" id="exampleFormControlTextarea1" rows="60"></textarea>
            </p>
        
            <p>
                <button type="Submit">Submit</button>
            </p>

        </div>

    </form>
</div>
    <script>
        $(document).ready(function() {
            $('#summernote').summernote();
        });
    </script>

</body>

</html>

