<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Student_page</title> 
<link rel="stylesheet" type="text/css" href="static/css/student_css.css"> 
</head>
<body>
  <nav>
    {% if id == "su"  %}
      <ul>
        <li><a class="active" href="#home">Home</a></li>
        <div class="logout_container">
            <li><a href="#about">Welcome, {{name}}</a></li>
            <li><a href="/logout2">Log out</a></li>
        </div>
      </ul>
    {% else %}
        <ul>
          <li><a class="active" href="#home">Home</a></li>
          <li><a href="#news">Class Announcements</a></li>
          <li><a href="#contact">Schedule</a></li>
          <li><a href="#about">Course Material</a></li>
          <div class="logout_container">
              <li><a href="#about">Welcome, {{name}}</a></li>
              <li><a href="/logout2">Log out</a></li>
          </div>
        </ul>
    {% endif %}
  </nav>

<div class="row">
  {% for course in courses %}
    {% if id == "su"  %}
      <div class="column">
        <div style="background-color:#80bfff ;border-radius: 11px;font-weight: bold;">
        <div class="card">
          <h1 style="font-size: medium;">{{course["course_name"]}}</h1>
          </div>
          </div>
      </div>
    {% else %}
      <div class="column">
        <div style="background-color:#80bfff ;border-radius: 11px;font-weight: bold;">
        <div class="card">
          <h1 style="font-size: medium;">{{course}}</h1>
          </div>
          </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

</body>
</html>















